{
    "type": "crowdsale",
    "out_dir": "",
    "provider_url": "http://localhost:8545",
    "file_name": "ACTCrowdsale",
    "abi_file": "../build/ACARCrowdsaleMock/ACARCrowdsaleMock.abi",
    "bytecode_file": "../build/ACARCrowdsaleMock/ACARCrowdsaleMock.bin",
    "rate": 60000,
    "wallet": "",
    "token_contract_addr": "",
    "token_wallet_addr": "",
    "cap": 2e+27,
    "open_time": 1530374400,
    "close_time": 1530375400,
    "gas": 3000000,
    "gasPrice": 1e+10
}
